*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol{
	list-style: none;
}
body{
    background-color: #F8F8F8;
    font-family: Roboto-Regular;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 4px;     /* Tamaño del scroll en vertical */
    height: 4px;    /* Tamaño del scroll en horizontal */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: deepskyblue;
    border-radius: 8px;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 8px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
.x{
    position: absolute;
    font-size: 40px;
    top: 0px;
    left: 10px;
    cursor: pointer;
    color:white;
}

@media (min-width: 769px){
    .x{
        right: 10px;
        left: unset;
    }
}









